.BuildControls {
  width: 100%;
  background-color: #95cf3b;
  display: flex;
  flex-flow: column;
  align-items: center;
  box-shadow: 0 2px 1px #ccc;
  margin: auto;
  padding: 10px 0;
  position: fixed;
  bottom: 0;
}

.StartOver {
  margin-right:20px;
  border: 1px solid red;
  background-color: #c18545;
  color: #18181d;
  cursor: pointer;
  width: 80px;
  height:25px;
  outline: none;
}
.StartOver:hover {
  background-color: #f0a752;
}